/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/*.log
/*-init.clj
resources/public/js/compiled
*.idea/
*.cpcache/
out
.rebel_readline_history
/*.iml
config/config.edn
.DS_Store