/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/*.log
/*-init.clj
frontend/resources/public/js/compiled
*.idea/
*.cpcache/
frontend/out
frontend/.rebel_readline_history
/*.iml
backend/config/config.edn
